<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.register">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Register">
        <activity android:name=".SplashActivity"></activity>
        <activity
            android:name=".HomeActivity"
            android:parentActivityName=".SplashActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashActivity" />
            android:screenOrientation="locked"
        </activity>
        <activity
            android:name=".north"
            android:parentActivityName=".HomeActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
            android:screenOrientation="locked"
        </activity>
        <activity
            android:name=".detailsnorth"
            android:parentActivityName=".north">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".north" />
            android:screenOrientation="locked"
        </activity>


        <activity
            android:name=".south"
            android:parentActivityName=".HomeActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
            android:screenOrientation="locked"
        </activity>
        <activity
            android:name=".detailssouth"
            android:parentActivityName=".south">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".north" />
            android:screenOrientation="locked"
        </activity>


        <activity
            android:name=".nonveg"
            android:parentActivityName=".HomeActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
            android:screenOrientation="locked"
        </activity>
        <activity
            android:name=".detailsnonveg"
            android:parentActivityName=".nonveg">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".north" />
            android:screenOrientation="locked"
        </activity>


        <activity
            android:name=".dessert"
            android:parentActivityName=".HomeActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
            android:screenOrientation="locked"
        </activity>
        <activity
            android:name=".detailsdessert"
            android:parentActivityName=".dessert">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".north" />
            android:screenOrientation="locked"
        </activity>
        <activity android:name=".login" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

    </application>

</manifest>